.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.overlay h1 {
  font-size: 2.5em; 
  font-weight:bolder; 
  text-transform: uppercase; 
  padding: 0 20px; 
}

.overlay h5 {
  font-size: 1.2em; 
  font-weight: normal; 
  padding: 0 30px;
  margin-top: 10px; 
}

.overlay button {
  background: none;
  border: 2px solid #fff; 
  border-radius: 50px; 
  font-size: 1em;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
  text-transform: uppercase; 
  font-weight: bold; 
  letter-spacing: 1.5px; 
  transition: all 0.3s ease-in-out; 
}

.overlay button:hover {
  background: white;
  color: black;
  transition: all 0.3s;
}
